
body{
  background-color: grey;
  text-align: center;
  font-family: "alef hebrew", segoe ui;
}

table{
  text-align: center;
}

H3 {
  color: white;
}

H2{
  COLOR: grey;
}

LABEL{
  COLOR:white;
}
button{
  border-radius:50%;
  border-color: white;
}
