
body{
  background-color: lightgrey;
  text-align: center;
  font-family:  "alef hebrew", "segoe ui";
 }
table{
  text-align: center;
}

H1, H2, H3, LABEL{
  color: white;
  text-align:center;
  height: auto;
}

button{
  border-radius:50%;
  border-color: white;
  color: black;
}
